<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name="com.souravmodak.modakflix.ModakflixAdaptivePlayer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ModakFlix"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.souravmodak.modakflix.PermissionClass"
            android:exported="true" />
        <activity
            android:name="com.souravmodak.modakflix.EditProfile"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.souravmodak.modakflix.Profiles"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.souravmodak.modakflix.SplashScreen"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.souravmodak.modakflix.SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ModakFlix.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.souravmodak.modakflix.Description"
            android:exported="false"
            android:label="@string/title_activity_description"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ModakFlix.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.souravmodak.modakflix.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ModakFlix.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.souravmodak.modakflix.DownloadActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.souravmodak.modakflix.OnlinePlayerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ModakFlix.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.souravmodak.modakflix.OfflinePlayerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ModakFlix.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name="com.souravmodak.modakflix.DemoDownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>